@font-face {
    font-family: 'godoMaum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/godoMaum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

